<div>

  <div class="panel panel-primary">
    <div class="panel-body">
      <label id="red">Erred:
        <input type="checkbox" class="checkbox-inline" ng-checked="true" data-ng-click="setFilter('Erred')">
      </label>
      <label id="green">Complete:
        <input type="checkbox" class="checkbox-inline" ng-checked="true" data-ng-click="setFilter('Complete')">
      </label>
      <label id="amber">Overridden:
        <input type="checkbox" class="checkbox-inline" ng-checked="true" data-ng-click="setFilter('Overridden')">
      </label>
    </div>
  </div>

  <table class="table table-bordered">

    <tr class=table_header>
      <td>Job Status</td>
      <td>Row Count</td>
      <td>File Processes</td>
      <td>Date Ran</td>
    </tr>

    <tr data-ng-repeat="result in rs = (results | orFilter:filter | orderBy:'date')"
        ng-class="{
          table_red: result.status == 'Erred',
          table_green: result.status == 'Complete',
          table_amber: result.status == 'Overridden'
        }">
      <td>{{result.status}}</td>
      <td>{{result.row_count}}</td>
      <td>{{result.files_distributed | uppercase}}</td>
      <td>{{result.date}}</td>
    </tr>
  </table>
</div>
