<div>

  <div class="panel panel-primary">
    <div class="panel-body">
      <label>Erred:
        <input type="checkbox" class="checkbox-inline" ng-checked="true" data-ng-click="setFilter('Erred')">
      </label>
      <label>Complete:
        <input type="checkbox" class="checkbox-inline" ng-checked="true" data-ng-click="setFilter('Complete')">
      </label>
      <label>Overridden:
        <input type="checkbox" class="checkbox-inline" ng-checked="true" data-ng-click="setFilter('Overridden')">
      </label>
    </div>
  </div>

  <table class="table table-bordered">

    <tr>
      <td>status</td>
      <td>row_count</td>
      <td>files_distributed</td>
      <td>date</td>
    </tr>

    <tr data-ng-repeat="result in rs = (results | orFilter:filter | orderBy:'date')"
        ng-class="{
          danger: result.status == 'Erred',
          success: result.status == 'Complete',
          warning: result.status == 'Overridden'
        }">
      <td>{{result.status}}</td>
      <td>{{result.row_count}}</td>
      <td>{{result.files_distributed | uppercase}}</td>
      <td>{{result.date}}</td>
    </tr>
  </table>
</div>
